/instance/databaseNew.db
/webapp/static/images/
!/webapp/static/images/2221_1055
!/webapp/static/images/3229_214
!/webapp/static/images/39897_2574
!/webapp/static/images/41480_2361
!/webapp/static/images/Training_sample
!/webapp/static/images/Training_sample2
!/webapp/static/images/vecteezy_finished-rubber-stamp-red-finished-rubber-grunge-stamp-seal_.jpg