{% extends "base.html" %}
{% block title %}
Training
{% endblock %}

{% block navitem_home %}
class="nav-link active" aria-current="page"
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script>
</script>


<div class="card text-black" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px">
    {% if user.is_authenticated%}
    <p>Here, you can view the <b>Full</b> image that we have given to the model.</p>
    <div class="card-body p-md-4 d-flex flex-row justify-content-center align-items-center">
        <img src="/static/images/Training_sample/base_image.png" alt="Reference Image">
    </div>
    <p> In the following image, you will see a pattern the model is searching for and get activated by it.  <br>
    Using the below image can you figure out which part of the above image activates the model?</p>

    <div class="card-body p-md-4 d-flex flex-row justify-content-center align-items-center">
        <img src="/static/images/Training_sample/OBC_help1.png" alt="Helper Image">
    </div>


    </form>
        <div class="card-body p-md-4 d-flex flex-row justify-content-center align-items-center">
        <a href="/training/0"> Previous </a> - <a href="/training/2"> Next </a>
    </div>

    </div>
    {% endif %}

</div>
<script>
    var selectedImage = null;

    function selectImage(event, id) {
        var img = document.getElementById(id);
        if (selectedImage === img) {
            document.getElementById('selectedImage').value = id;
            document.getElementById('HumanEval').submit();
        } else {
            if (selectedImage) {
                selectedImage.style.border = "";
            }
            img.style.border = "5px solid green";
            selectedImage = img;
        }
    }
</script>

{% endblock %}







