{% extends "base.html" %}
{% block title %}
Training
{% endblock %}

{% block navitem_home %}
class="nav-link active" aria-current="page"
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script>
</script>


<div class="card text-black" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px">
    {% if user.is_authenticated%}
    <div class="card-body p-md-4 d-flex flex-row justify-content-center align-items-center">
        <img src="/static/images/Training_sample/base_image.png" alt="Reference Image">
    </div>

    <div class="card-body p-md-4 d-flex flex-row justify-content-center align-items-center">
        <img src="/static/images/Training_sample/OBC_help1.png" alt="Helper Image">
    </div>

         <p> As you can see, the choice on the right highlights the parts representing the dog on the left </p>

    <div class="card-body p-md-4 d-flex flex-row justify-content-center align-items-center">
        <form  id="HumanEval" method="GET" action="/training/4">
            <div class="img-container" onclick="selectImage(event, 'option0')">
                <img id="option0" src="/static/images/Training_sample/option0.png" alt="option 0">
            </div>
            <div class="img-container" onclick="selectImage(event, 'option1')">
                 <img id="option1" src="/static/images/Training_sample/option1.png" alt="option 1">
            </div>
            <input type="hidden" id="selectedImage" name="selectedImage">

        </form>
    </div>
    <p> So the correct answer is the choice on the right. Go to the next stage by double-clicking on the right image.</p>
    <a href="/training/2"> Previous </a>
    </div>

    </div>
    {% endif %}

</div>
<script>
    var selectedImage = null;

    function selectImage(event, id) {
        var img = document.getElementById(id);
        if (selectedImage === img) {
            document.getElementById('selectedImage').value = id;
            document.getElementById('HumanEval').submit();
        } else {
            if (selectedImage) {
                selectedImage.style.border = "";
            }
            img.style.border = "5px solid green";
            selectedImage = img;
        }
    }
</script>

{% endblock %}







