{% extends "base.html" %}
{% block title %}
Training
{% endblock %}

{% block navitem_home %}
class="nav-link active" aria-current="page"
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script>
</script>


<div class="card text-black" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px">
    {% if user.is_authenticated%}
    <p> Even if you don't have any idea, go with your best guess.</p>
    <p> We give more technical detail after the evaluation to prevent any bias during the evaluation. </p>
            </form>
        <div class="card-body p-md-4 d-flex flex-row justify-content-center align-items-center">

        <a href="/training/4"> Previous </a>-
            <form action="/FinishTraining" method="post">
            <button type="submit" class="btn btn-primary">Finish</button>
        </form>
    </div>

    </div>
    {% endif %}

</div>
<script>
    var selectedImage = null;

    function selectImage(event, id) {
        var img = document.getElementById(id);
        if (selectedImage === img) {
            document.getElementById('selectedImage').value = id;
            document.getElementById('HumanEval').submit();
        } else {
            if (selectedImage) {
                selectedImage.style.border = "";
            }
            img.style.border = "5px solid green";
            selectedImage = img;
        }
    }
</script>

{% endblock %}







